__pycache__
*.ipynb_checkpoints
*.h5
*.ipynb
.idea

data/*
!data/*/
data/*/*
!data/*/*/
data/*/*/*
!data/*/*/*/
data/*/*/*/*
!data/*/emptyfileforgit.txt
!data/*/*/emptyfileforgit.txt
!data/processed/ground_truth/area.tif
!data/processed/ground_truth/gt.tif
!data/processed/ground_truth/czech_area.tif
!data/processed/all_tile_endings.txt
!data/raw/ground_truth/overallshape/overallshape.*

reports/*
!reports/*/
reports/*/*
!reports/emptyfileforgit.txt
!reports/*/emptyfileforgit.txt

